@using Abp.Web.Mvc.Extensions
@using TaiKang.Authorization
@using TaiKang.Web.Navigation
@{
    ViewBag.CurrentPageName = PageNames.App.Management.JobChance;
}

@section Scripts
{
    <script src="/api/AbpServiceProxies/GetAll" type="text/javascript"></script>
    @Html.IncludeScript("~/Areas/Mpa/Views/Job/Index.js")
}

<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    人才招聘
                </h1>
            </div>
        </div>
    </div>
    <div class="col-xs-6 text-right">
        <button id="ExportUsersToExcelButton" class="btn btn-default"><i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>
        @if (IsGranted(AppPermissions.Pages_TaiKang_JobChance_Create))
        {
            <button id="CreateNewJobButton" class="btn btn-primary blue"><i class="fa fa-plus"></i>发布岗位</button>
        }
    </div>
</div>
<div class="portlet light margin-bottom-0">
    <div class="portlet-body">
        <div class="form">
            <form class="horizontal-form">
                <div class="form-body" enter-key="vm.getUsers()">
                    
                </div>
                <div class="row margin-bottom-10">
                   
                </div>
            </form>
        </div>
        <div id="JobsTable"></div>
    </div>
</div>

